.text-color{
    color:yellow;
}
.btn-confirm{
    margin-left: 20px;
    padding: 10px 30px;
    background-color: rgb(255,64,64);
    border: 4px solid white;
    border-radius: 30px;
    color:rgb(255, 255, 255);
}

.btn-confirm:hover{
    background-color: rgb(204, 35, 35);
}